.btn-orange { background-color: hsl(0, 0%, 27%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#777777", endColorstr="#444444"); background-image: -khtml-gradient(linear, left top, left bottom, from(#777777), to(#444444)); background-image: -moz-linear-gradient(top, #777777, #444444); background-image: -ms-linear-gradient(top, #777777, #444444); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777777), color-stop(100%, #444444)); background-image: -webkit-linear-gradient(top, #777777, #444444); background-image: -o-linear-gradient(top, #777777, #444444); background-image: linear-gradient(#777777, #444444); border-color: #444444 #444444 hsl(0, 0%, 22%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; }

.game-container {
	clear: both;
}
.great {
	color: green;
}
.fail {
	color: red;
}
.nerd {
	float: left;
	width: 200px;
}
.whitewell {
	background: white;
}
.questions {
	width: 695px;
	height: 235px;
	float: left;
	padding: 0px;
}
.answers {
	width: 655px;
	height: 300px;
	float: left;
	overflow-y: scroll;
}
.explain {
	width: 595px;
	text-align: center;
	font-size: 12px;
	color: #444;
}
.status {
	width: 205px;
	float: right;
	height: 555px;
}
.coins {
	width: 50px;
	float: left;
	margin-right: 15px;
	margin-left: 14px;
}
.coin-container {
	background: #f5f5f5;
	padding-top: 10px;
	border-radius: 4px;
	border:1px solid #eee;
	margin-bottom: 10px;
}
.coin-container h4 {
	font-size: 40px;
	padding-top: 13px;
	float: left;
	max-width:80px;
	text-shadow: 0px 0px 0px #fff;  
}
.coin-container .coin-glow {
	-webkit-transition:text-shadow 0.5s ease-in-out;
    -moz-transition:text-shadow 0.5s ease-in-out;
    -o-transition:text-shadow 0.5s ease-in-out;
    -ms-transition:text-shadow 0.5s ease-in-out;
    transition:text-shadow 0.5s ease-in-out;
    text-shadow:0px 0px 20px yellow;
}
.coin-container .details {
	float: left;
	width: 50px;
	font-size: 12px;
	line-height: 15px;
	margin-top: 7px;
	margin-left: 10px;
	color: #888
}

/*********************/
/*****Answer CSS******/
/*********************/
.bubble {
	position: relative;
	width: 370px;
	padding: 0px;
	border: #ccc solid 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.bubble:after {
	content: "";
	position: absolute;
	bottom: 10px;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #54BBEF;;
	display: block;
	width: 0;
	z-index: 1;
}
.bubble:before {
	content: "";
	position: absolute;
	bottom: 9px;
	border-style: solid;
	border-width: 9px 9px 9px 0;
	border-color: transparent #ccc;
	display: block;
	width: 0;
	z-index: 0;
}
.bubbleleft {
	float: left;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFF178 0%, #FFC45E 30%, #EFB93C 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFF178 0%, #FFC45E 30%, #EFB93C 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFF178 0%, #FFC45E 30%, #EFB93C 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFF178), color-stop(0.3, #FFC45E), color-stop(1, #EFB93C));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFF178 0%, #FFC45E 30%, #EFB93C 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFF178 0%, #FFC45E 30%, #EFB93C 100%);
}

.bubbleleft:after {
	left: -8px;
	border-color: transparent #EFB93C;
}

.bubbleleft:before{
	left: -11px;
}
.bubbleright {
	float: left;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #C7F6FF 0%, #6EC0FF 30%, #54BBEF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #C7F6FF 0%, #6EC0FF 30%, #54BBEF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #C7F6FF 0%, #6EC0FF 30%, #54BBEF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C7F6FF), color-stop(0.3, #6EC0FF), color-stop(1, #54BBEF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #C7F6FF 0%, #6EC0FF 30%, #54BBEF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #C7F6FF 0%, #6EC0FF 30%, #54BBEF 100%);
	
}

.bubbleright:after {
	right: -8px;
	border-width: 8px 0px 8px 8px;
	
}

.bubbleright:before{
	right: -11px;
	border-width: 9px 0px 9px 9px;
	
}

.bubble p {
	padding: 10px;
}

.response td {
	vertical-align:bottom;
}

.avatar {
	width: 60px;
	padding: 0 8px;
}
.response {
	margin-bottom: 10px;
}
.response-right {
	float: right;
}
.response-left {
	float: left;
}

.helpertext {
	color: #999;
	text-align: center;
	padding: 0px 15px 15px 15px;
}

/*********************/
/*Game Container CSS */
/*********************/

.question-menu {
	width: 120px;
	float: left;
	margin-left: 30px;
}
.question-menu .option {
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	padding-left: 15px;
	background: #fff;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top:1px solid white;
	color: #444;
}
.question-menu .option:hover {
	cursor: pointer;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #E0E0E0 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #E0E0E0 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #E0E0E0 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #E0E0E0));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #E0E0E0 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #FFFFFF 0%, #E0E0E0 100%);
}
.question-menu .bordertop {
	border-top:1px solid #ccc;
}
.question-menu .active {
	background: #f4f4f4 url("../../img/bgnoise.png");
	border-right:1px solid transparent;
}
.question-menu .active:hover {
	background: #f4f4f4;
}
.question-button-container {
	float: left;
	width: 456px;
	padding-left: 15px;
	padding-top: 5px;
	height: 178px;
	background: #f4f4f4 url("../../img/bgnoise.png");
	border:1px solid #ccc;
	border-left: none;
}
.question-button-container table td {
	width: 230px;
	height: 58px;
	text-align: center;
}
.question-button-container table td button {
	width: 200px;
	padding: 3px;
	height: 50px;
}
.question-button-container .linethrough {
	text-decoration: line-through;
}
.questionhide {
	display: none;
}
.advice {
	color: #bbb;
	text-align: center;
	line-height: 30px;
	margin-top: -15px;
}
.finaldecision {
	margin-top: 15px;
}
.progress-container {
	height: 360px;
	padding: 15px;
	position: relative;
	z-index: 99;
	width: 60px;
	float: left;
}
.progressbg {
	height: 350px;
	width: 50px;
	/* border-radius: 35px; */
	border:1px solid #ccc;
	overflow: hidden;
	position: relative;
	background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.prog {
	vertical-align: baseline;
	height: 205px;
	width: 50px;
	position:absolute;
	bottom: 0;
	width:300px;
	overflow: hidden;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.moneybag {
	margin-top: -49px;
	margin-left: -4px;
	position: relative;
	z-index: 1;
	width: 100px;
}

.slider {
	width: 60px;
	padding-top: 20px;
	height: 320px;
	position: absolute;
	top: 0;
}
#slider-vertical {
	height: 320px;
	width: 55px;
	background: none;
	border:none;
}
#slider-vertical .ui-slider-range, #slider-vertical .ui-widget-header {
	background: none;
}
.ui-slider .ui-slider-handle{
	background: url("../img/sliderbar.png") no-repeat scroll 50% 50%;
	width: 80px;
	border:none;
	outline: none;
	margin-left: -5px;
}
.ui-slider .ui-slider-handle:hover {
	cursor: pointer;
}
.statusword-container {
	width: 110px;
	height: 200px;
	float: right;
	padding-top: 14px;
}
.statusword {
	font-size: 11px;
	height: 45px;
	color:#ddd;
}
.statusword:hover {
	color: #888;
	cursor: pointer;
}
.statusword-container .selected {	
	color: #555;
}
.questionvisible {
	float: left;
	position: relative;
	padding: 20px;
	width: 655px;
	z-index: 0
	margin: 20px;
}
.questionblackedout {
	display: none;
	height: 235px;
	position: absolute;
	width: 695px;
	border-radius: 4px;
	background: black url("../img/black.png");
	z-index: 10;
	text-align: center;
}
.questionblackedout p {
	padding: 30px 20px;
	line-height: 26px;
	z-index: 11;
	position: relative;
	font-size: 18px;
	color: #eee;
}
.questionblackedout img {
	float: right;
	margin: 20px 0px 0 0;
}
.rulesdiv h3 {
	font-size: 22px;
	font-weight: 900;
	padding: 5px 3px;
}
.rulesdiv p {
	font-size: 13px;
	color:#555;
	padding: 3px;
}
.noeffect {
	margin: 0 10px;
}
