

.hero-container {
	width: 900px;
	height: 480px;
	border:2px solid #ccc;
	margin: 40px auto 10px auto;
	box-shadow: 0 0 2px #333;
	padding: 0px;
	background: url('../img/mainpage.png');
}
.credits {
	text-align: center;
	color: #666;
	font-size: 13px;
	padding-bottom: 20px;
}
.action {
	margin-top: -250px;
	margin-left: 90px;
	width: 200px;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ddd;
}
.form {
	width: 250px;
	margin-left: 440px;
	margin-top: 300px;
	text-align: center;
	border:1px solid red;
	padding: 10px 0;
	border-radius: 10px;
	border:1px solid #ccc;
	background: #f4f4f4;
}