.play-container {
	margin: 30px 0;
}
.prompt {
	background: white;
	color: #444;
	text-align: center;
	overflow: hidden;
	padding-bottom: 0px;
}
.prompt p {
	margin: 20px;
}
.prompt .question {
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	margin: 20px;
}
.great {
	color: green;
}
.fail {
	color: red;
}
.vc {
	float: right;
	width: 220px;
}
.nerd {
	float: left;
	width: 200px;
	margin-left: 15px;
}