{% extends 'base.html' %}

{% block headercss %}
 <link href="{{STATIC_URL}}css/homepage.css" rel="stylesheet" type="text/css" />
<style>

</style>
{% endblock %}

{% block headerjs %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %} 
<div class='hero-container'>
	<form class="form" method='GET' action='select/'>
		<select name="school">
			<option> MIT Student </option>
			<option> MIT Sloan </option>
			<option> UPenn Student</option>
			<option> Harvard Student</option>
			<option> Cornell Student </option>
			<option> MIT Professor </option>
			<option> I'm an Angel</option>
			<option> I'm a VC </option>
			<option> Other </option>
		</select>
		<button class="btn btn-large btn-info "> LET'S PLAY</button>
	</form>
</div>
<div class="clear"></div>
{% endblock %}