{% extends 'base.html' %}

{% block headercss %}
 <link href="{{STATIC_URL}}css/play.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block headerjs %}
{% endblock %}

{% block content %}
<div class='play-container'>
	<div class="prompt well">
		<img class="nerd" src='{{STATIC_URL}}img/{{ img }}' />
		<p class="question">Your goal is to decide how good the idea is. You only have time to ask the right 10 questions.
		After each question, use the Invest-o-Meter to change how much you like the company, for better or worse. If you ask
		the right questions and correctly determine how each question affects the company's success, you can reach a high score and keep
		your status as top dog in the VC community. </p>
		<a href="/game/{{gameid}}" class="btn btn-success btn-large"> Start asking questions</a>
	</div>
</div>
{% endblock %}